In [6]:
import pandas as pd
import numpy as np

data = pd.read_csv(r"C:\Users\conno\workspace\projects\ufc_predictive_model\ufc-fighters-statistics.csv")

print(data.isnull().sum)

<bound method DataFrame.sum of        name  nickname   wins  losses  draws  height_cm  weight_in_kg  \
0     False      True  False   False  False      False         False
1     False      True  False   False  False      False         False
2     False     False  False   False  False      False         False
3     False     False  False   False  False      False         False
4     False      True  False   False  False      False         False
...     ...       ...    ...     ...    ...        ...           ...
4104  False     False  False   False  False       True         False
4105  False      True  False   False  False      False         False
4106  False      True  False   False  False       True         False
4107  False      True  False   False  False      False         False
4108  False     False  False   False  False      False         False

      reach_in_cm  stance  date_of_birth  \
0            True    True           True
1           False   False          False
2           False   False          False
3           False   False          False
4           False   False          False
...           ...     ...            ...
4104         True    True           True
4105         True   False          False
4106         True    True           True
4107         True   False          False
4108        False   False          False

      significant_strikes_landed_per_minute  significant_striking_accuracy  \
0                                     False                          False
1                                     False                          False
2                                     False                          False
3                                     False                          False
4                                     False                          False
...                                     ...                            ...
4104                                  False                          False
4105                                  False                          False
4106                                  False                          False
4107                                  False                          False
4108                                  False                          False

      significant_strikes_absorbed_per_minute  significant_strike_defence  \
0                                       False                       False
1                                       False                       False
2                                       False                       False
3                                       False                       False
4                                       False                       False
...                                       ...                         ...
4104                                    False                       False
4105                                    False                       False
4106                                    False                       False
4107                                    False                       False
4108                                    False                       False

      average_takedowns_landed_per_15_minutes  takedown_accuracy  \
0                                       False              False
1                                       False              False
2                                       False              False
3                                       False              False
4                                       False              False
...                                       ...                ...
4104                                    False              False
4105                                    False              False
4106                                    False              False
4107                                    False              False
4108                                    False              False

      takedown_defense  average_submissions_attempted_per_15_minutes
0                False                                         False
1                False                                         False
2                False                                         False
3                False                                         False
4                False                                         False
...                ...                                           ...
4104             False                                         False
4105             False                                         False
4106             False                                         False
4107             False                                         False
4108             False                                         False

[4109 rows x 18 columns]>

In [7]:
data.head(10)

,name,nickname,wins,losses,draws,height_cm,weight_in_kg,reach_in_cm,stance,date_of_birth,significant_strikes_landed_per_minute,significant_striking_accuracy,significant_strikes_absorbed_per_minute,significant_strike_defence,average_takedowns_landed_per_15_minutes,takedown_accuracy,takedown_defense,average_submissions_attempted_per_15_minutes
0,Rex Richards,NaN,7,2,0,195.58,120.20,NaN,NaN,NaN,17.65,58.0,5.29,72.0,0.0,0.0,0.0,17.65
1,Luana Santos,NaN,6,1,0,167.64,56.70,170.18,Orthodox,2000-04-16,17.10,60.0,6.52,68.0,0.0,0.0,100.0,17.10
2,Cortavious Romious,Are You Not Entertained?,7,2,0,162.56,61.23,172.72,Southpaw,1994-01-06,14.48,31.0,20.69,41.0,0.0,0.0,0.0,14.48
3,Danny Silva,El Puma,8,1,0,180.34,65.77,177.80,Switch,1997-01-30,13.60,64.0,13.13,59.0,2.0,66.0,100.0,13.60
4,Angel Pacheco,NaN,7,2,0,172.72,65.77,177.80,Orthodox,1992-01-13,13.13,40.0,13.60,35.0,0.0,0.0,33.0,13.13
5,Charalampos Grigoriou,Ferocious,8,3,0,170.18,61.23,170.18,Orthodox,1992-03-31,13.00,65.0,4.00,63.0,0.0,0.0,0.0,13.00
6,JR Coughran,Bam Bam,4,1,0,167.64,65.77,NaN,Orthodox,1994-05-17,12.29,57.0,6.80,45.0,0.0,0.0,75.0,12.29
7,Ernesta Kareckaite,Heavy-Handed,5,0,1,175.26,56.70,180.34,Orthodox,1998-07-05,12.27,45.0,11.20,42.0,1.0,50.0,100.0,12.27
8,Danny Barlow,LeftHand2God,7,0,0,187.96,77.11,200.66,Southpaw,1995-08-02,12.15,57.0,5.32,61.0,0.0,0.0,0.0,12.15
9,Kim Couture,Sugar Free,3,8,0,172.72,61.23,NaN,Orthodox,1975-12-18,12.12,80.0,2.31,69.0,0.0,0.0,0.0,12.12

In [8]:
data.describe()

,wins,losses,draws,height_cm,weight_in_kg,reach_in_cm,significant_strikes_landed_per_minute,significant_striking_accuracy,significant_strikes_absorbed_per_minute,significant_strike_defence,average_takedowns_landed_per_15_minutes,takedown_accuracy,takedown_defense,average_submissions_attempted_per_15_minutes
count,4109.000000,4109.000000,4109.000000,3812.000000,4022.000000,2183.000000,4109.000000,4109.000000,4109.000000,4109.000000,4109.000000,4109.000000,4109.000000,4109.000000
mean,12.360672,5.722073,0.264298,178.234439,77.395405,181.803729,2.442100,35.553906,3.146878,42.666586,1.248537,26.296666,39.015332,2.442100
std,9.376023,5.104569,0.822483,8.889213,17.988389,10.679990,1.996586,20.405083,2.850083,22.323827,1.931608,28.728565,34.457155,1.996586
min,0.000000,0.000000,0.000000,152.400000,47.630000,147.320000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,2.000000,0.000000,172.720000,65.770000,175.260000,0.830000,27.000000,1.550000,36.000000,0.000000,0.000000,0.000000,0.830000
50%,11.000000,4.000000,0.000000,177.800000,77.110000,182.880000,2.330000,40.000000,2.940000,50.000000,0.590000,22.000000,42.000000,2.330000
75%,17.000000,8.000000,0.000000,185.420000,83.910000,190.500000,3.600000,49.000000,4.240000,58.000000,1.930000,45.000000,66.000000,3.600000
max,253.000000,83.000000,11.000000,226.060000,349.270000,213.360000,17.650000,100.000000,52.500000,100.000000,32.140000,100.000000,100.000000,17.650000

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4109 entries, 0 to 4108
Data columns (total 18 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   name                                          4109 non-null   object
 1   nickname                                      2255 non-null   object
 2   wins                                          4109 non-null   int64
 3   losses                                        4109 non-null   int64
 4   draws                                         4109 non-null   int64
 5   height_cm                                     3812 non-null   float64
 6   weight_in_kg                                  4022 non-null   float64
 7   reach_in_cm                                   2183 non-null   float64
 8   stance                                        3287 non-null   object
 9   date_of_birth                                 2975 non-null   object
 10  significant_strikes_landed_per_minute         4109 non-null   float64
 11  significant_striking_accuracy                 4109 non-null   float64
 12  significant_strikes_absorbed_per_minute       4109 non-null   float64
 13  significant_strike_defence                    4109 non-null   float64
 14  average_takedowns_landed_per_15_minutes       4109 non-null   float64
 15  takedown_accuracy                             4109 non-null   float64
 16  takedown_defense                              4109 non-null   float64
 17  average_submissions_attempted_per_15_minutes  4109 non-null   float64
dtypes: float64(11), int64(3), object(4)
memory usage: 578.0+ KB

In [10]:
# Remove a warrning that doesn't apply
pd.options.mode.chained_assignment = None  # default='warn'

# Creating df to be transformed & dropping na's from the table
df = data.dropna(subset=['reach_in_cm', 'height_cm', 'stance', 'date_of_birth'])
# Convert 'date_of_birth' to an age
df['age'] = pd.to_datetime('now').year - pd.to_datetime(df['date_of_birth']).dt.year

# Dropping useless columns
df.drop(['name', 'nickname', 'date_of_birth'], axis=1, inplace=True)

median_wins = df['wins'].median()

df['total_fights'] = df['wins'] + df['losses'] + df['draws']

df['win_rate'] = df['wins'] / df['total_fights']

# Categorizng win rates
df['win_rate_cat'] = pd.cut(df['wins'],
                            bins=[-1, median_wins, df['wins'].max()], # Setting the first bin to -1 ensures that fighters w/ 0 wins are included
                            labels=['Low Win Rate', 'High Win Rate'])

In [11]:
print(df.isna().sum())

wins                                            0
losses                                          0
draws                                           0
height_cm                                       0
weight_in_kg                                    0
reach_in_cm                                     0
stance                                          0
significant_strikes_landed_per_minute           0
significant_striking_accuracy                   0
significant_strikes_absorbed_per_minute         0
significant_strike_defence                      0
average_takedowns_landed_per_15_minutes         0
takedown_accuracy                               0
takedown_defense                                0
average_submissions_attempted_per_15_minutes    0
age                                             0
total_fights                                    0
win_rate_cat                                    0
dtype: int64

In [12]:
print(df['stance'].value_counts())

stance
Orthodox       1610
Southpaw        386
Switch          164
Open Stance       2
Name: count, dtype: int64

In [13]:
print(df.nunique())

wins                                             48
losses                                           25
draws                                             7
height_cm                                        22
weight_in_kg                                     40
reach_in_cm                                      27
stance                                            4
significant_strikes_landed_per_minute           612
significant_striking_accuracy                    70
significant_strikes_absorbed_per_minute         647
significant_strike_defence                       69
average_takedowns_landed_per_15_minutes         481
takedown_accuracy                                82
takedown_defense                                 90
average_submissions_attempted_per_15_minutes    612
age                                              38
total_fights                                     69
win_rate_cat                                      2
dtype: int64

In [14]:
import seaborn as sns
import matplotlib.pyplot as plt

In [15]:
contingency_table = pd.crosstab(df['stance'], df['win_rate_cat'])
print(contingency_table)

win_rate_cat  Low Win Rate  High Win Rate
stance
Open Stance              1              1
Orthodox               855            755
Southpaw               196            190
Switch                 111             53

In [16]:
from scipy.stats import chi2_contingency

In [17]:
chi2, p, dof, expected = chi2_contingency(contingency_table)

print(f"Chi-Square Statistic: {chi2}")
print(f"P-value: {p}")

Chi-Square Statistic: 14.459507714744722
P-value: 0.0023419488409906703

### Chi-Square Statistic

The Chi-Square Statistic of 14.4595 suggests that there is a deviation between the observed frequencies of fighters' win rates across different stances and what we would expect to see if there were no association between stance and win rate. The higher the Chi-Square value, the greater the deviation.

### P-value

The P-value is a measure of the probability that the observed data would have occurred by chance alone under the null hypothesis (which, in this case, states there is no association between the variables). A P-value of 0.00234 is less than the typical significance level of 0.05. This low P-value indicates that the probability of observing your data (or more extreme) under the null hypothesis is very low.

In [21]:
Q1 = df['wins'].quantile(0.25)
Q3 = df['wins'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = max(0, Q1 - 1.5 * IQR)
upper_bound = Q3 + 1.5 * IQR

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [ ]:
label_encoder = LabelEncoder()
df['stance'] = label_encoder.fit_transform(df['stance'].astype(str))

In [ ]:
# I'm trying to predict the wins so I need to set it alone as the y variable
X = df.drop(columns=['win_rate_cat', 'age'], axis=1)
y = df['win_rate_cat']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Descion Tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

dt_clf = DecisionTreeClassifier(random_state=42)
dt_clf.fit(X_train, y_train)
dt_predictions = dt_clf.predict(X_test)

print(f"Decision Tree Accuracy: {accuracy_score(y_test, dt_predictions)}")

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf_clf = RandomForestClassifier(random_state=42)
rf_clf.fit(X_train, y_train)
rf_predictions = rf_clf.predict(X_test)

print(f"Random Forest Accuracy: {accuracy_score(y_test, rf_predictions)}")

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

gb_clf = GradientBoostingClassifier(random_state=42)
gb_clf.fit(X_train, y_train)
gb_predictions = gb_clf.predict(X_test)

print(f"GBM Accuracy: {accuracy_score(y_test, gb_predictions)}")